- simple_form_for @volunteer_job do |f|
  = f.association :organization, :collection => @organizations, :as => :select, :include_blank => false, :label => t("ui.school.name") + " : "
  = f.submit t("ui.school.add_new")
