%h1 Listing organization_admins

%table
  %tr
    %th
    %th
    %th

  - @organization_admins.each do |organization_admin|
    %tr
      %td= link_to 'Show', organization_admin
      %td= link_to 'Edit', edit_organization_admin_path(organization_admin)
      %td= link_to 'Destroy', organization_admin, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Organization admin', new_organization_admin_path
