// bootstrap overwrite
.content
  margin-top: 50px

.page-header
  margin-bottom: 40px
  background-color: #F5F5F5
  padding: 10px

.brand
  margin-right: 20px

.nav
  float: right !important

// end of bootstrap overwrite

.greeting
  font-size: 1em
  float: right
  display: block
  padding: 13px 10px 12px
  margin-left: -20px
  color: #ffffff
  font-weight: bold
  line-height: 1
  text-decoration: none

.simple_form
  margin: 0
  padding: 0

  .fb-login-button
    margin-left: 40%
    margin-right: 40%
    text-align: center

  .inputs-list li
    margin-left: 120px

  label
    padding-right: 10px

.devise_links
  text-align: center
  margin: 15px auto 15px auto