- title "Schools"

%table.zebra-striped.job-details
  %tr
    %th=t("simple_form.labels.organization.name")
    %td=@organization.name
  %tr
    %th=t("simple_form.labels.organization.profile")
    %td=@organization.profile
  %tr
    %th=t("simple_form.labels.organization.address")
    %td=@organization.address
  %tr
    %th=t("simple_form.labels.organization.district")
    %td=@organization.district
  %tr
    %th=t("simple_form.labels.organization.city")
    %td=@organization.city
  %tr
    %th=t("simple_form.labels.organization.zipcode")
    %td=@organization.zipcode
  %tr
    %th=t("simple_form.labels.organization.contact")
    %td=@organization.contact
  %tr
    %th=t("simple_form.labels.organization.webpage")
    %td=@organization.webpage
